/***************************************
OBSERVAÇÕES:

	Todos os comentários que o nome vier acompanhado por: *
	É sinal que ele está escrito nos dois arquivos css (velhos.css e novos.css
***************************************/




/***************************************
CABECALHO *
***************************************/
#textocabecalho {
	margin:7px 0px 0px 2px;
}

/***************************************
CONTEUDO DA DIREITA *
***************************************/
#dir {
	background:#CCF6F6;
	margin:0px 0px 0px 50%;
	border:1px solid #CCF6F6;
}
	